* {
  box-sizing: border-box;
  font-family: Arial;
  margin: 0;
  padding: 0;
}

body {
  align-content: flex-start;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

#punctuation {
  align-items: center;
  display: flex;
  font-size: 20px;
  font-weight: 700;
  height: 100px;
  justify-content: flex-end;
  padding: 0 35px;
  width: 100%;
}

#punctuation.hide {
  visibility: hidden;
}

#simon {
  --square: 600px;
  background: #000;
  border-radius: 100%;
  display: flex;
  flex-wrap: wrap;
  height: var(--square);
  padding: 10px;
  position: relative;
  width: var(--square);
}

#simon.blocked,
button.blocked {
  pointer-events: none;
}

.btn {
  --btnSize: 290px;
  border: 10px solid #000;
  cursor: pointer;
  height: var(--btnSize);
  outline: 0;
  transition: .3s ease-in-out background;
  width: var(--btnSize);
}

.btn-green {
  background: rgba(35, 200, 82, 0.5);
  border-top-left-radius: 100%;
}

.btn-green:hover,
.btn-green.active {
  background: rgba(35, 200, 82, 1);
}

.btn-red {
  background: rgba(254, 35, 34, 0.5);
  border-top-right-radius: 100%;
}

.btn-red:hover,
.btn-red.active {
  background: rgba(254, 35, 34, 1);
}

.btn-yellow {
  background: rgba(243, 194, 16, 0.5);
  border-bottom-left-radius: 100%;
}

.btn-yellow:hover,
.btn-yellow.active {
  background: rgba(243, 194, 16, 1);
}

.btn-blue {
  background: rgba(0, 103, 208, 0.5);
  border-bottom-right-radius: 100%;
}

.btn-blue:hover,
.btn-blue.active {
  background: rgba(0, 103, 208, 1);
}

#game-info {
  --containerPosition: 125px;
  --containerSize: 350px;
  background: #000;
  border-radius: 100%;
  color: #fff;
  font-size: 80px;
  height: var(--containerSize);
  left: var(--containerPosition);
  padding-top: 70px;
  position: absolute;
  text-align: center;
  top: var(--containerPosition);
  width: var(--containerSize);
}

#game-info button {
  --buttonSize: 100px;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 100%;
  cursor: pointer;
  display: block;
  height: var(--buttonSize);
  margin: 0 auto 25px;
  outline: 0;
  width: var(--buttonSize);
}

#game-info button:disabled {
  background: #aaa;
  border-color: #aaa;
  cursor: default;
}
