* {
  box-sizing: border-box;
  font-family: Arial;
  margin: 0;
  padding: 0;
}

body {
  align-content: flex-start;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

#punctuation {
  align-items: center;
  display: flex;
  font-size: 20px;
  font-weight: 700;
  height: 100px;
  justify-content: flex-end;
  padding: 0 35px;
  width: 100%;
}

#punctuation.hide {
  visibility: hidden;
}

#simon {
  --square: 600px;
  background: #000;
  border-radius: 100%;
  display: flex;
  flex-wrap: wrap;
  height: var(--square);
  padding: 10px;
  position: relative;
  width: var(--square);
}

.btn {
  --btnSize: 290px;
  border: 10px solid #000;
  cursor: pointer;
  height: var(--btnSize);
  width: var(--btnSize);
}

.btn-green {
  background: rgb(0, 128, 0);
  border-top-left-radius: 100%;
}

.btn-green:hover {
  background: rgba(0, 128, 0, .9);
}

.btn-red {
  background: rgb(254, 12, 4);
  border-top-right-radius: 100%;
}

.btn-red:hover {
  background: rgba(254, 12, 4, .9);
}

.btn-yellow {
  background: rgb(255, 255, 5);
  border-bottom-left-radius: 100%;
}

.btn-yellow:hover {
  background: rgba(255, 255, 5, .9);
}

.btn-blue {
  background: rgb(1, 37, 255);
  border-bottom-right-radius: 100%;
}

.btn-blue:hover {
  background: rgba(1, 37, 255, .9);
}

#game-info {
  --containerPosition: 125px;
  --containerSize: 350px;
  background: #000;
  border-radius: 100%;
  color: #fff;
  font-size: 80px;
  height: var(--containerSize);
  left: var(--containerPosition);
  padding-top: 70px;
  position: absolute;
  text-align: center;
  top: var(--containerPosition);
  width: var(--containerSize);
}

#game-info button {
  --buttonSize: 100px;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 100%;
  cursor: pointer;
  display: block;
  height: var(--buttonSize);
  margin: 0 auto 25px;
  outline: 0;
  width: var(--buttonSize);
}

#game-info button:disabled {
  background: #aaa;
  border-color: #aaa;
  cursor: default;
}
